<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="home">
<h1>Welcome to the Security Application</h1>
<a href="/login">Login/SQL</a>
<a href="/admin">Admin (Manage Vulnerabilities)</a>
</body>
</html>
